.mat-card {
    width:600px;
    margin:auto;
}

.mat-card .full-width {
    width:100%;
}

.material-icons-color-blue { color: #89CFF0; }
.mat-card .mat-card-actions {
    display:block;
    text-align:right;
}