<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Ronnie Milsap</mat-card-title>
    <mat-card-subtitle>iamsap.com</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/img/robby.png">
  <mat-card-content>
    <p>Ronnie is a developer</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button mat-icon-button>
      <mat-icon class="material-icons-color-blue">thumb_up</mat-icon>
    </button>
    <button mat-button mat-icon-button>
      <mat-icon  class="material-icons-color-blue">delete</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="material-icons-color-blue">publish</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
